@import url('https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap');

:root {
    --cor-principal: #b300fa ;
    --cor-secundaria: #ffdc18 ;
    --cor-texto: #000000 ;
    --cor-backgraound: #7cff02 ;
    --font-family: "Ruslan Display", sans-serif;
}
body{  
    color: var(--cor-texto);
    font-family: var(--font-family);
    height: 100vh;
    margin: 0;
}
.Cabecalho{
background-color: var(--cor-secundaria);
text-align: center;

}
.h1__titulo{
    font-size: 2rem;
    color: var(--cor-texto);
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: center;
    font-weight: 400;
}
nav a{
    text-decoration: none;
    color: var(--cor-texto);
    margin: 0 2rem 1rem 0;
    font-size: 1.2rem;
}