@import url('https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap');

:root {
    --cor-principal: #b300fa ;
    --cor-secundaria: #ffdc18 ;
    --cor-texto: #000000 ;
    --cor-backgraound: #7cff02 ;
    --font-family: "Ruslan Display", sans-serif;
}

